Repository primitivefinance/arbiter, pull requests merged in 2023-09, with the labels that each got.

#482 Feat/will hacky
  arbiter-core/Cargo.toml
  arbiter-core/src/lib.rs
  arbiter-core/src/middleware.rs
Labels: arbiter-core v0.5.0

#483 Feat/reciepts
  arbiter-core/src/environment.rs
  arbiter-core/src/middleware.rs
  arbiter-core/src/tests/interaction.rs
Labels: arbiter-core v0.5.0

#486 feat/gas-settings-and-more
  arbiter-core/benches/bench.rs
  arbiter-core/src/bindings/block_info.rs
  arbiter-core/src/bindings/mod.rs
  arbiter-core/src/environment.rs
  arbiter-core/src/manager.rs
  arbiter-core/src/middleware.rs
  arbiter-core/src/tests/clients.rs
  arbiter-core/src/tests/contracts.rs
  arbiter-core/src/tests/environment_control.rs
  arbiter-core/src/tests/management.rs
  arbiter-core/src/tests/middleware_instructions.rs
  arbiter-core/src/tests/mod.rs
  contracts/BlockInfo.sol
Labels: enhancement, arbiter-core v0.5.0

#522 fix(#521): filterwatcher `recv`
  arbiter-core/Cargo.toml
  arbiter-core/src/middleware.rs
  arbiter-core/src/tests/middleware_instructions.rs
  arbiter-core/src/tests/mod.rs
Labels: bug, tests

#523 Alex/cheatcodes initial
  arbiter-core/src/environment/cheatcodes.rs
  arbiter-core/src/environment/instruction.rs
  arbiter-core/src/environment/mod.rs
  arbiter-core/src/middleware.rs
  arbiter-core/src/tests/environment_control.rs
  arbiter-core/src/tests/middleware_instructions.rs
  arbiter-core/src/tests/mod.rs
Labels: arbiter-core v0.6.0

#514 Feat/no git
  Cargo.toml
  README.md
  bin/init.rs
  bin/main.rs
Labels: arbiter v0.4.0
